<div id="new_event_div">
  <h3>describe your event</h3>
  <%= form_for @event do |f| %>
    <%= render 'shared/error_messages', :object => f.object %>
    <div class="field">
      <%= f.text_area :content, :rows => 10 %>
    </div>
    <div class="field">
      <label>Picture:</label>
      <%= f.file_field :picture %>
    </div>
    <div class="field">
      <label>Date:</label>
      <%= f.text_field :calendar_date %>
    </div>
    <div class="field">
      <label>Repeat:</label>
      <%= f.select :repeat, [['no repeat', 0], ['every day', 4], ['every week',3], ['each month', 2], ['each year', 1]] %>
    </div>
    <div class="actions">
      <%= f.submit "#{action} event" %>
    </div>
  <% end %>
</div>
