<div id="new_event_div">
  <h1> describe your event </h1>
<%= form_for @event do |f| %>
  <%= devise_error_messages! %>
  <div class="field">
    <%= f.text_area :content, :rows => 15, :cols => 50 %>
  </div>
  <div class="field">
    <label>Date:</label>
    <%= f.text_field :calendar_date %>
  </div>
  <div class="actions">
    <%= f.submit "Create event" %>
  </div>
<% end %>
</div>
