<% if @events %>
  <%= render :partial => "shared/event_form", :locals => {:action => "Create"} %>
  <h1>all events</h1>
  <%= paginate @events %>
  <table summary="all events" id="events_list">
    <%= render @events %>
  </table>
<% else %>
  <h1>Test Application</h1>
  <p>
    Welcome to the Test Application
  </p>
  <%= link_to "sign up now", new_user_registration_path %><br>
  <%= link_to "sign in", new_user_session_path %>
<% end %>
