<tr>
  <td>
    <%= link_to event.user.name, event.user %> <br>
    <% if current_user?(event.user) %>
      <div id="<%= dom_id event %>" data-object="event" data-url="<%= url_for event %>">
        <span class="rest-in-place" data-attribute="calendar_date" data-formtype="input"><%= event.calendar_date %></span> <br/>
        <span class="rest-in-place" data-attribute="content" data-formtype="textarea"><%= event.content %></span><br/>
        <%= link_to 'edit', edit_event_path(event) %> |
        <%= link_to 'remove', event, :method => :delete, :remote => true %>
      </div>
    <% else %>
      <span><%= event.calendar_date %></span> <br>
      <span><%= event.content %></span>
    <% end %>
  </td>
</tr>
