<tr>
  <td>
    <%= link_to event.user.name, event.user  %> <br>
    <span><%= inspect_date(event.calendar_date, event.repeat) %></span> <br/>
    <% if current_user?(event.user) %>
      <div id="<%= dom_id event %>">
        <%= link_to edit_event_path(event) do %>
          <span class="event_content"><%= raw event.content %></span>
          <%= image_tag event.picture.url if event.picture_file_name %><br/>
        <% end %>
        <%= link_to 'remove', event, :method => :delete, :remote => true %>
      </div>
    <% else %>
      <span class="event_content"><%= raw(event.content) %></span>
      <%= image_tag event.picture.url if event.picture_file_name %>
    <% end %>
  </td>
</tr>
